.bmr-container {
    position: absolute;
    /* border: 2px solid red; */
    top: 5%;
    left: 50%;
    width: 300px;
    height: auto;
    border-radius: 30px;
    background-color: gainsboro;
    box-shadow: 8px 8px 12px 12px black;
}


.gender {
    margin: 19px;
   
}

label {
    font-size: 18px;
    font-weight: 700;
}